.mid-container{
    display: grid;
    grid-template-columns: 380px 380px 380px 370px;
}
.container{
     display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 80px 450px 100px;
}
.header{
    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    border: 1px solid black;
    align-items: center;
}
.subheader{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(31, 31, 75);
    color: white;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.innerbox{
   height:100px;
   width: 100px;
  margin:10px;
}
.uppertext{
    font:bold;
    background-color: rgb(173, 83, 123);
    padding: 10px;
}
.upperbox{
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 109, 167);
}
.img-text{
    background-color: rgb(184, 105, 128);
}
.box1{
    background-color: rgb(147, 94, 128);
margin: 2px;
}
.box2{
    background-color: rgb(149, 78, 118);
margin: 2px;
}
.box3{
    background-color: rgb(139, 78, 95);
    margin: 2px;
}
.box4{
    background-color:rgb(167, 88, 142) ;
  margin: 2px;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end:5;
    background-color: rgb(193, 66, 150);
}