.container{
    display:grid;
    border: 1 px solid blue;
    /* grid-template-columns: 200px 300px 100px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 100px 150px;
}
.child1{
    border: 1 px dotted blue;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    /* grid-column: 1/3;
    grid-row: 1/3; */
}
.child2{
    border: 1 px dotted blue;
    background-color: lightgreen;
    /* grid-column: 2/4;
    grid-row: 2/4; */
}
.child3{
    border: 1 px dotted blue;
    background-color: lightpink;
    /* grid-column: 1/2;
    grid-row: 3/4; */
}
.child4{
    border: 1 px dotted blue;
    background-color: rgb(224, 224, 20);
    /* grid-column: 3/4;
    grid-row: 1/2; */
}
.child11{
   height: 100px;
   width: 100px;
       border: 1 px dotted rgb(98, 38, 63);
       background-color: aqua;
    margin-top: 20px;
    margin-left: 20px;

}
.child12{
     height: 100px;
   width: 100px;
   background-color: blueviolet;
       border: 1 px dotted blue;
    margin-top: 20px;
}
.child13{
     height: 100px;
   width: 100px;
       border: 1 px dotted rgb(100, 100, 112);
       background-color: yellowgreen;
    
    margin-left: 20px;

}
.child14{
     height: 100px;
   width: 100px;
       border: 1 px dotted rgb(152, 152, 203);
       background-color: violet;

}